body {
  font-family: "Arvo", serif;
  box-sizing: border-box;
}

nav {
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-logo {
  margin-left: 20px;
}

.logo-container {
}

.company-name-container {
}

.company-name {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
  padding: 5px;
}

.hamburger {
  font-size: 2.5rem;
  margin-right: 10px;
  padding: 10px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  right: 0px;
  width: 200px;
  border-top: 1px solid rgb(23, 51, 0);
  background-color: beige;
  z-index: 1;
}

.burger-option {
  font-size: 1.5rem;
  padding: 10px;
}

.nav-link {
  color: rgb(23, 51, 0);
  padding: 15px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.full-dropdown {
  position: relative;
}

.dropdown-link-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 0px 0px 1px rgba(80, 80, 80, 0.1);
  width: auto;
}

.drop-right {
  right: 0;
  left: auto;
}

.dropdown-link {
  padding: 5px;
  width: 150px;
  background-color: beige;
  margin: 1px;
}

.dropdown-link:hover {
  background-color: lightgray;
  border: 1px solid brown;
}

.hidden {
  display: none;
}

.active {
  background-color: rgb(194, 194, 175);
  border-bottom: 2px solid rgb(23, 51, 0);
}

.nav-list {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.slideshow-container {
  margin: 20px;
  height: 200px;
  width: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture-container {
  width: max-content;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: left 1s ease-in-out;
}

.fish-picture {
  float: left;
  width: 300px;
  height: auto;
  object-fit: scale-down;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0px auto;
}

.picture-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: beige;
  border: 1px solid rgb(23, 51, 0);
}

.active-icon {
  background-color: rgb(23, 51, 0);
  border: 1px solid rgb(23, 51, 0);
}

.arrow-left {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 10px;
  padding: 10px;
  position: absolute;
  top: calc(50% - 1.25rem);
  left: 0;
  color: rgb(23, 51, 0);
  text-shadow: 0px 0px 5px white;
}

.arrow-right {
  cursor: pointer;
  font-size: 2.5rem;
  margin-right: 10px;
  padding: 10px;
  position: absolute;
  top: calc(50% - 1.25rem);
  right: 0;
  color: rgb(23, 51, 0);
  text-shadow: 0px 0px 5px white;
}

@media (min-width: 800px) {
  .nav-list {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .main-container {
    margin: 0px auto;
    width: 750px;
  }
  .fish-picture {
    width: 700px;
  }
  .slideshow-container {
    width: 700px;
    height: 500px;
  }
}
